PORT=3000

# Notes Service
NOTES_MONGO_URI=mongodb+srv://<user>:<pass>@cluster.mongodb.net/notes
JWT_SECRET=your_jwt_secret
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GROQ_API_KEY=your_groq_api_key
NOTES_GOOGLE_CALLBACK_URL=http://localhost:3000/api/notes/auth/google/callback

# Country State City Service
CSC_MONGO_URI=mongodb+srv://<user>:<pass>@cluster.mongodb.net/csc
